$board-bg-color: #e8c4f2;
$gap: 10px;
$navbar-app-bg-color: #63f2d8;
$app-main-color: #333;
$navbar-board-bg-color: #e8c4f2;
$list-bg-color: #EBECF0;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 3px;